[color]
	ui = auto
[core]
    excludesfile = ~/.gitignore_global
    editor = vim

[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
[url "ssh://git@gitlab.com/"]
    insteadOf = https://gitlab.com/

# Plaid configs
[includeIf "gitdir:~/plaid/"]
    path = ~/.gitconfig_plaid
[includeIf "gitdir:~/quovo/"]
    path = ~/.gitconfig_plaid

# Sea_wulf configs
[includeIf "gitdir:~/github/"]
    path = ~/.gitconfig_sea
[includeIf "gitdir:~/gitlab/"]
    path = ~/.gitconfig_sea
[includeIf "gitdir:~/srht/"]
    path = ~/.gitconfig_sea
[includeIf "gitdir:~/.dotfiles/"]
    path = ~/.gitconfig_sea
