[user]
	email = johnandersen185@gmail.com
	name = Jack Andersen
[color]
	ui = auto
[core]
	excludesfile = /home/j/.gitignore_global
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
