
# Categorical bans
**/.git/**

# Directory bans
.cache/

# Duplication
go/
rust/
wallpaper/.wallpapers/**

# Personal
wiki/
sound/
python/
local/
vim/.vim/

# Allow the custom configurations
# for firefox that are sym linked to the
# correct dir
mozilla/*
!mozilla/
mozilla/.mozilla/*
!mozilla/.mozilla/
!mozilla/.mozilla/config/
!mozilla/.mozilla/config/*

# MPD system info
config/.config/mpd/db
config/.config/mpd/pid
config/.config/mpd/state
config/.config/pulse/

# Torrent client info
config/.config/transmission/

# Systemd info but not custom units
config/.config/systemd/user/default.target.wants/

# Coc.nvim info
config/.config/coc/extensions/*
config/.config/coc/history.json
config/.config/coc/memos.json
config/.config/coc/mru

# Ignore openttd save files
openttd/.openttd/save/
openttd/.openttd/hs.data

# Filetype bans
*.tdb
*.log
*.torrent
*.resume

# File naming bans
credentials.*
credentials
*_history

# File bans
vim/.viminfo
less/.lesshst
bash/.bash_history
bash/.bashrc
feh/.fehbg
config/.config/dconf/user

# Ignore node stuff
config/.config/yarn/
node/.node_repl_history
yarn/.yarn/

# Docker login details
docker/.docker/config.json
docker/.docker/.buildNodeID

# Ignore task due to being a separate repo from now on
task/*
# Keeping the config tho
!task/.taskrc

# Ignore most of minikube except config
k8s/.minikube/*

# Ignore kubectl config files -- sensitivio
kube/.kube/**

# Ignore secrets
env/.env
env/

# Ignore aws config as this could leak info
aws/.aws/config
aws/.saml2aws

# Don't ignore the folder, just the directory
!OSX
OSX/*

# Database configuration files -- system dependent
mssql/*
pg/*
sql/*

# Disallow terraform -- infrastructure is almost always machine specific
terraform/**

# Kubernetes
# Ignore the helm repositories file -- contains passwords
config/.config/helm/**

# Wireguard
# VPN keys that should be ignored -- be careful to name these correctly!
config/.config/wireguard/*key
