
# Categorical bans
**/.git/**

# Directory bans
.cache/

# Duplication
go/
rust/
wallpaper/.wallpapers/**

# Personal
wiki/
sound/
python/
mozilla/
local/
vim/.vim/
config/.config/mpd/db
config/.config/mpd/pid
config/.config/mpd/state
config/.config/pulse/
config/.config/transmission/
config/.config/systemd/
# Ignore openttd save files
openttd/.openttd/save/

# Filetype bans
*.tdb
*.log
*.torrent
*.resume
credentials.*
credentials

# File bans
vim/.viminfo
less/.lesshst
bash/.bash_history
bash/.bashrc
feh/.fehbg
config/.config/dconf/user

# Ignore the spotifyd config bc there are passwords in it rn
config/.config/spotifyd/

# Ignore node stuff
config/.config/yarn/
node/.node_repl_history
yarn/.yarn/

# Docker login details
docker/.docker/config.json

# Ignore task due to being a separate repo from now on
task/*
# Keeping the config tho
!task/.taskrc

# Ignore most of minikube except config
k8s/.minikube/*
!k8s/.minikube/config
k8s/.minikube/config/*
!k8s/.minikube/config/config.json

# Ignore secrets
env/.env

# Ignore aws config as this could leak info
aws/.aws/config
