[Unit]
Description=SSH key agent daemon

[Service]
Type=simple
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
Environment=DISPLAY=:0
ExecStart=/usr/bin/ssh-agent -D -a $SSH_AUTH_SOCK
ExecStartPost=/bin/bash -c "ssh-add $(ls -1 ~/.ssh/*_rsa) && ssh-add $(ls -1 ~/.ssh/*_ed25519)"

[Install]
WantedBy=default.target
